<!---------NAVBAR--------->
<section id="navbar">
  <nav class="nav-lg">
    <div class="nav-container">
      <h1 class="nav-logo">JhayCodes</h1>

      <div class="nav-toggle" id="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <ul class="nav-links" id="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</section>