/* Cleared default Next.js styles to rely on imported legacy CSS */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
:root {
  --primary-purple: #6d28d9; /* Deep Purple */
  --light-purple: #f3e8ff; /* Light Lavender */
  --dark-purple: #2e1065; /* Very Dark Purple */
  --text-main: #111827; /* Almost Black */
  --text-muted: #6b7280; /* Gray */
  --bg-white: #ffffff;
  --bg-off-white: #f9fafb;
  --max-width: 1100px;
}
